#profile-image {
    width: 150px; /* Taille de l'image */
    height: 150px; /* Taille de l'image */
    border-radius: 50%; /* Pour arrondir l'image */
    object-fit: cover; /* Pour que l'image conserve ses proportions et remplisse le conteneur */
    cursor: pointer; /* Curseur pointer pour indiquer que l'image est cliquable */
}
 /* CSS pour définir une largeur fixe pour le champ de saisie */
 #phone {
            width: 660px; /* Largeur fixe du champ de saisie */
        }
