#profile-image {
    width: 150px; /* Taille de l'image */
    height: 150px; /* Taille de l'image */
    border-radius: 50%; /* Pour arrondir l'image */
    object-fit: cover; /* Pour que l'image conserve ses proportions et remplisse le conteneur */
    cursor: pointer; /* Curseur pointer pour indiquer que l'image est cliquable */
}
#phone {
    width: 655px; /* Largeur fixe du champ de saisie */
}

/* Pour les écrans larges */
@media (max-width: 732px) {
    #phone {
      width: 100%;
    }
  }